@tailwind base;
@tailwind components;
@tailwind utilities;

.home_banner{
  background-image: url('./assets/img/banner-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
/* Patrón de fondo para la página */
.home_section{  
  background-image: url('./assets/img/banner-s-bg.png');
  background-repeat: repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
}

.banner_tittle_1{
  font-size: 100px;  
}
.banner_tittle_2{
  font-size: 90px;  
}
.banner_tittle_3{
  font-size: 110px;  
}

/* === Mobile First === */
@media (max-width: 768px) {
  .banner_tittle_1{
    font-size: 80px;  
  }
  .banner_tittle_2{
    font-size: 60px;  
  }
  .banner_tittle_3{
    font-size: 90px;  
  }
}


